Xft.dpi: 120
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

Xpdf*fontList: -adobe-helvetica-bold-r-normal--0-0-0-0-p-0-iso8859-1
Xpdf.initialZoom: 200

xterm*font: -*-fixed-*-r-*-*-24-*-*-*-*-*-iso8859-*
#Xcursor.size: 64







#xterm*font1: -*-*-*-*-*-*-2-*-*-*-*-*-*-*
#xterm*font2: -misc-fixed-*-r-normal-*-8-*-*-*-*-*-iso8859-*
#xterm*font3: -b&h-lucidatypewriter-bold-*-*-*-12-*-*-*-*-*-*-*
#xterm*font4: -*-screen-bold-r-normal-*-16-*-*-*-*-*-iso8859-*
#xterm*font5: -*-lucidatypewriter-medium-*-*-*-24-*-*-*-*-*-*-*
#xterm*font6: -*-lucidatypewriter-medium-*-*-*-20-*-*-*-*-*-*-*
#xterm*font7: -dec-terminal-bold-r-normal-*-14-*-*-*-*-*-iso8859-*

#XTerm*background: black
#XTerm*foreground: lightgrey
#XTerm*pointerColor: red
#XTerm*pointerColorBackground: black
#XTerm*cursorColor: navy
#XTerm*internalBorder: 3
#XTerm*loginShell: true
#XTerm*scrollBar: false
#XTerm*scrollKey: true
#XTerm*saveLines: 1000
#XTerm*multiClickTime: 250
